body {
  margin: 0px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5em;
  font-family: "Lato", "Helvetica Neue", Helvetica, arial, sans-serif;
  background: #fafafa;
}

a {
  color: #2380C4;
}

a:hover {
  color: #FF862E;
}

h2 {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.0em;
  margin-top: 3.0em;
  margin-bottom: 1.0em;
  color: #2380C4;
  max-width: 744px;
  margin-left: auto;
  margin-right: auto;
}

p {
  max-width: 744px;
  margin-left: auto;
  margin-right: auto;
}

h2 a {
  text-decoration: none;
}

h3 {
  font-weight: 400;
  font-size: 1.0em;
  line-height: 1.5em;
  margin: 0.0em;
  color: #2380C4;
}

pre {
  max-width: 744px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.0em;
}

code {
  font-size: 0.75em;
  line-height: 2.0em;
  font-family: "PT Mono", menlo, courier, monospace;
}

audio {
  max-width: 744px;
  margin: 3.0em auto;
  display: block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  border-bottom: 2px solid #ddd;
}

td {
  vertical-align: top;
}

div#header {
  background: #74B4E3;
  background: #fff;
  color: #fff;
  margin: 0.0em;
  padding-top: 0.0em;
  text-align: center;
  overflow: auto;
}

.container {
  margin-top: 0.0em;
  margin-bottom: 6.0em;
  margin-left: auto;
  margin-right: auto;
  max-width: 744px;
}

h1 {
  font-size: 2.0em;
  font-variant: small-caps;
  line-height: 1.0em;
  font-weight: 400;
  margin: 0.0em auto;
  float: left;
  margin: 1.0em 0.0em 1.0em 1.0em;
  padding: 0.0em;
}

h1 a {
  text-decoration: none;
  color: #000;
}

ul#navigation {
  margin: 2.0em auto 0.0em auto;
  padding: 0.0em;
  overflow: auto;
  float: right;
}

ul#navigation li {
  list-style-type: none;
  float: left;
  margin-right: 1.5em;
}

ul#navigation li a {
  color: #000;
  font-weight: 400;
  font-variant: small-caps;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  line-height: 2.0em;
}

ul#navigation li a:hover {
  color: #FF862E;
}

p#tagline {
  text-align: center;
  padding-top: 2.0em;
  padding-bottom: 2.0em;
  background: #2380C4;
  color: #fff;
  font-size: 2.0em;
  margin: 0.0em;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  max-width: 100%;
  line-height: 1.5em;
}

div.warning {
  text-align: center;
  background: #FF4D4D;
  color: #fff;
  margin: 0.0em;
  padding-top: 2.0em;
  padding-bottom: 2.0em;
}

ul#feature-list {
  overflow: auto;
  max-width: 744px;
  margin: 0.0em auto;
  padding: 0.0em;
}

ul#feature-list li {
  list-style-type: none;
  width: 45%;
  padding-right: 5%;
  float: left;
  margin-bottom: 1.5em;
}

ul#format-list {
  margin: 0.0em;
  padding-left: 1.0em;
}

ul#format-list li {
  list-style-type: square;
  float: none;
  width: auto;
  margin: 0.0em;
}

span.label {
  font-weight: bold;
}

.section {
  width: 100%;
  padding: 4.5em 0.0em;
}

.section h2 {
  margin-top: 0.0em;
}

.bg-white {
  background: #fff;
}

.doc-list {
  margin: 0.0em auto;
  padding: 0.0em;
  max-width: 744px;
}

.doc-list li {
  list-style-type: none;
  margin-bottom: 1.5em;
}

.footer {
  background: #000;
  color: #fff;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.footer p {
  margin: 0.0em auto;
}


@media (max-width: 744px) {
  h1 {
    margin: 1.0em 0.0em 0.0em 0.0em;
    text-align: center;
    width: 100%;
  }

  p#tagline {
    padding: 0.75em;
  }

  ul#navigation {
    margin: 0.0em auto 1.5em auto;
    width: 100%;
  }

  ul#navigation li {
    float: left;
    margin-right: 0.0em;
    width: 50%;
  }

  ul#feature-list {
    max-width: 100%;
  }

  ul#feature-list li {
    width: inherit;
    padding: 0.0em 1.5em 0.0em 1.5em;
    float: none;
  }

  ul#format-list li {
    padding: 0.0em;
  }

  .section {
    padding: 3.0em 0.0em;
  }

  h2 {
    margin-left: 1.0em;
    margin-right: 1.0em;
  }

  p {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  pre {
    margin-left: 1.5em;
    margin-right: 1.5em;
    overflow: scroll;
  }

  .doc-list {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .footer p {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}
