body {
  margin: 0px;
  font-size: 20px;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 300;
}

div#container {
  /*border-top: 8px solid black;*/
  margin-top: 3.0em;
  margin-bottom: 6.0em;
  margin-left: auto;
  margin-right: auto;
  max-width: 744px;
  background: white;
}

ul#navigation {
  width: 100%;
  margin: 0.0em;
  padding: 0.0em;
  overflow: auto;
}

ul#navigation li {
  list-style-type: none;
  float: left;
}

h1 {
  font-size: 4.0em;
  line-height: 1.0em;
  margin: 0.0em;
}

p#tagline {
  margin-top: 0.0em;
}

div {
  /*border-top: 4px solid black;*/
  margin-top: 3.0em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.0em;
  margin-top: 0.0em;
}

code {
  font-size: 0.75em;
  line-height: 2.0em;
  font-family: menlo, courier, monospace;
}

span.label {
  font-weight: bold;
}

th {
  text-align: left;
}
