body {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5em;
  font-family: "Lato", "Helvetica Neue", Helvetica, arial, sans-serif;
  background: #fafafa;
}

a {
  color: #2380c4;
}

a:hover {
  color: #ff862e;
}

h2 {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.0em;
  margin-top: 3.0em;
  margin-bottom: 1.0em;
  color: #2380c4;
}

h2 a {
  text-decoration: none;
}

h3 {
  font-weight: 400;
  font-size: 1.0em;
  line-height: 1.5em;
  margin: 0;
  color: #2380c4;
}

pre {
  margin-bottom: 0;
  overflow: auto;
  background: #efefef;
  padding: 1.5em;
}

code {
  font-size: 0.75em;
  line-height: 2.0em;
  font-family: "PT Mono", menlo, courier, monospace;
}

audio {
  max-width: 744px;
  margin: 3.0em auto;
  display: block;
}

label {
  display: inline-block;
  vertical-align: super;
}

audio.inline {
  display: inline-block;
  margin: 0;
}

ul.audio-list {
  padding: 0;
}

ul.audio-list li {
  list-style-type: none;
}

ul.audio-list li label {
  width: 180px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  border-bottom: 2px solid #ddd;
}

td {
  vertical-align: top;
}

span.highlight {
  background: yellow;
}

div#header {
  background: #fff;
}

div#header-inner {
  padding-top: 0;
  text-align: center;
  overflow: auto;
  max-width: 744px;
  margin: 0 auto;
}

.container {
  margin-top: 0;
  margin-bottom: 6.0em;
  margin-left: auto;
  margin-right: auto;
  max-width: 744px;
}

h1 {
  font-size: 2.0em;
  font-variant: small-caps;
  line-height: 1.0em;
  font-weight: 400;
  float: left;
  margin: 1.0em 0 1.0em 0;
  padding: 0;
}

h1 a {
  text-decoration: none;
  color: #000;
}

ul#navigation {
  margin: 2.0em auto 0 auto;
  padding: 0;
  overflow: auto;
  float: right;
}

ul#navigation li {
  list-style-type: none;
  float: left;
  margin-left: 1.5em;
}

ul#navigation li a {
  color: #000;
  font-weight: 400;
  font-variant: small-caps;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  line-height: 2.0em;
}

ul#navigation li a:hover {
  color: #ff862e;
}

p#tagline {
  text-align: center;
  padding-top: 2.0em;
  padding-bottom: 2.0em;
  background: #2380c4;
  color: #fff;
  font-size: 2.0em;
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  max-width: 100%;
  line-height: 1.5em;
}

div.warning {
  text-align: center;
  background: #ff4d4d;
  color: #fff;
  margin: 0;
  padding-top: 2.0em;
  padding-bottom: 2.0em;
}

ul#feature-list {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

ul#feature-list li {
  list-style-type: none;
  margin-bottom: 1.5em;
}

ul#format-list {
  margin: 0;
  padding-left: 1.0em;
}

ul#format-list li {
  list-style-type: square;
  float: none;
  width: auto;
  margin: 0;
}

span.label {
  font-weight: bold;
}

.section {
  width: 100%;
  padding: 4.5em 0;
}

.section > * {
  max-width: 744px;
  margin-left: auto;
  margin-right: auto;
}

.section > *:last-child {
  margin-bottom: 0;
}

.section h2 {
  margin-top: 0;
}

.bg-white {
  background: #fff;
}

.doc-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.doc-list li {
  list-style-type: none;
  margin-bottom: 1.5em;
}

.footer {
  background: #000;
  color: #fff;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.footer p {
  max-width: 744px;
  margin: 0 auto;
}


@media (min-width: 744px) {
  ul#feature-list > li {
    width: 45%;
    padding-right: 5%;
    float: left;
  }
}

@media (max-width: 744px) {
  h1 {
    margin: 1.0em 0 0 0;
    text-align: center;
    width: 100%;
    float: none;
  }

  p#tagline {
    padding: 0.75em;
  }

  ul#navigation {
    margin: 0 auto 1.5em auto;
    float: none;
    display: inline-block;
  }

  ul#navigation li {
    float: left;
    margin: 0 1.5em 0 0;
  }

  ul#navigation li.last {
    margin: 0;
  }

  ul#feature-list > li:last-child {
    margin-bottom: 0;
  }

  ul#format-list li {
    padding: 0;
  }

  .container {
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 100%;
    box-sizing: border-box;
  }

  .section {
    padding: 3.0em 1.5em;
    box-sizing: border-box;
  }

  .section > * {
    width: 100%;
  }

  .footer p {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
