body {
  margin: 0px;
  font-size: 20px;
  line-height: 1.5em;
  font-family: "Lato", "Helvetica Neue", Helvetica, arial, sans-serif;
  background: #fafafa;
}

a {
  color: #4fa5e3;
}

a:hover {
  color: #e38d4f
}

h2 {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.0em;
  margin-top: 3.0em;
  margin-bottom: 1.0em;
  color: #4fa5e3;
}

h3 {
  font-weight: normal;
  font-size: 1.0em;
  line-height: 1.5em;
  margin: 0.0em;
  color: #e38d4f;
}

code {
  font-size: 0.75em;
  line-height: 2.0em;
  font-family: "PT Mono", menlo, courier, monospace;
}

div#header {
  background: #74B4E3;
  color: #fff;
  margin: 0.0em;
  padding-top: 1.5em;
  text-align: center;
}

.container {
  margin-top: 0.0em;
  margin-bottom: 6.0em;
  margin-left: auto;
  margin-right: auto;
  max-width: 744px;
}

h1 {
  font-size: 4.0em;
  font-variant: small-caps;
  line-height: 1.0em;
  font-weight: 100;
  max-width: 744px;
  margin: 0.0em auto;
}

h1 a {
  text-decoration: none;
  color: #fff;
}

#header p {
  font-weight: 100;
  text-transform: uppercase;
  max-width: 744px;
  margin: 0.0em auto;
}

.nav-container {
  background: #2380C4;
  margin: 0.0em;
}

ul#navigation {
  max-width: 744px;
  margin: 1.5em auto 0.0em auto;
  padding: 0.0em;
  overflow: auto;
  background: blue;
}

ul#navigation li {
  list-style-type: none;
  float: left;
  width: 33.33333333333333%;
}

ul#navigation li a {
  color: #fff;
  font-weight: 100;
  font-variant: small-caps;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  line-height: 2.0em;
}

.navlink1 {
  background: #2A92DE;
}

.navlink2 {
  background: #2B9BED;
}

.navlink3 {
  background: #2A92DE;
}

ul#navigation li a:hover {
  background: #E3A374;
}

ul#feature-list {
  overflow: auto;
  max-width: 744px;
  margin: 0.0em;
  padding: 0.0em;
}

ul#feature-list li {
  list-style-type: none;
  width: 45%;
  padding-right: 5%;
  float: left;
  margin-bottom: 1.5em;
}

ul#format-list {
  margin: 0.0em;
  padding-left: 1.0em;
}

ul#format-list li {
  list-style-type: square;
  float: none;
  width: auto;
  margin: 0.0em;
}

span.label {
  font-weight: bold;
}

th {
  text-align: left;
}
