<!DOCTYPE html>
<html lang="en">
<head>
  <title>WaveFile Gem{% if page.title != nil %} - {% endif %}{{page.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Mono">
  <link rel="stylesheet" type="text/css" href="wavefile.css">
</head>
<body>
<div class="bg-white">
  <div id="header-inner" class="flex flex-column flex-row-l flex-align-center">
    <h1 class="small-caps"><a href="/">WaveFile Gem</a></h1>
    <ul id="navigation" class="flex">
      <li><a href="getting_started.html" class="small-caps">Getting Started</a></li>
      <li><a href="documentation.html" class="small-caps">Documentation</a></li>
    </ul>
  </div>
</div>
{{content}}
<div class="footer">
  <p>View the source on <a href="https://github.com/jstrait/wavefile/">GitHub</a>.</p>
  <p>Copyright &copy; <a href="https://www.joelstrait.com">Joel Strait</a> 2009-19.</p>
</div>
</body>
</html>
